:root {
  /* Light Theme */

  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

  /* Dark Theme */

  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue-: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.darkBackground {
  background-image: url("./Images/bg-desktop-dark.jpg");
  background-size: 100% 35vh;
  background-repeat: no-repeat;
  background-color: var(--Very-Dark-Blue);
  font: 400 18px/1 "Josefin Sans", sans-serif;
  min-height: 100vh;
}
.lightBackground {
  background-image: url("./Images/bg-desktop-light.jpg");
  background-size: 100% 35vh;
  background-repeat: no-repeat;
  background-color: var(--Very-Light-Grayish-Blue);
  font:400 18px/1 "Josefin Sans", sans-serif;
  min-height: 100vh;
}
.box-dark {
  background-color: var(--Very-Dark-Desaturated-Blue);
  color: var(--Light-Grayish-Blue);
}
.box-light {
  background-color: white;
  color: black;
}

.wrapper {
  display: flex;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 10vh;
  min-width: 600px;
}
.container > div,
footer,
header {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 35px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  letter-spacing:1rem;
}
#input {
  display: flex;
  margin: 20px;
  margin-bottom: 20px;
  padding: 20px 20px 20px 20px;
  border-radius: 5px;
  
}
[type="submit"] {
  background:none;
  border: 1px solid;
  border-radius: 50%;
  width: 10px;
  
}
.new-item {
  margin-left: 5px;
  border: none;
  outline: none;
  background: none;
  font-size: 20px;
  width: 70%;
}
#hover {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 15px;
}
#licontainer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.delete{
  cursor: pointer;
}
.status > li {
  display: inline;
  padding: 0px 5px;
}

.status > li:hover {
  cursor: pointer;
}
.clear-all {
  cursor: pointer;
}

#list-items > li {
  display: flex;
  border-bottom: 1px solid;
  padding: 10px;
  font-size: 25px;
  align-items: center;
}
#list-items > li > label {
  margin-right: auto;
  width: 100%;
}

input[type="checkbox"]:checked ~ label {
  text-decoration: line-through;
}

.custom-checkbox {
  opacity: 0;
  z-index: 10;
  margin-left: 20px;
}

.Nike {
  position: relative;
  top: 2px;
  left: -20px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid;
}
input[type="checkbox"]:checked ~ .Nike {
  display: block;
  background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
.Nike > img {
  position: relative;
  left: 5px;
  top: 7px;
  display: none;
}
input[type="checkbox"]:checked ~ .Nike > img {
  display: block;
}
.custom-checkbox:hover ~ .Nike {
  background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
.delete{
  margin-right: 10px;
}